body{
  background-color: #282c34;
  color: white;
}
.App{
  text-align: center;
}

.em-mng{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2em;
}

.EmployeeForm{
  margin: 100px auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.image{
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  border: 1px solid #000000;
  background-position: center;
  background-size: cover;
}

.table{
  height: 70vh;
  margin: 5px auto 0 auto;
  width: 90%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f4f4f4;
  overflow: scroll;
}

.btnadd{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-right: 100px;
}

.btn{
  color: white;
  border-radius: 10px;
  margin-top: -20px;
}

.employee-profile{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

.button-secion{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.btn-section{
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}